h1{
    color: red;
    text-align: center;
}
h2{
    color: green;
    text-align: center;
}

#kebab{
    text-align:center;
    margin:auto;
    display:flex;
    height:35%;
    width: 35%;
}

#ketchup{
    text-align:center;
    margin:auto;
    display:flex;
    height:20%;
    width: 20%;
}